# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Virtual environment
venv/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Kaggle API credentials
/.kaggle/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
env/

# Miscellaneous
*.DS_Store
*.swp
*.swo

